@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;

}

body {
    background: linear-gradient(to bottom, hsl(198, 100%, 66%), hwb(54 51% 0%));
    text-align: center;
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative
}

.pokedex {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    -webkit-user-drag: none;
}


.pokemon_image {
    position: absolute;
    bottom: 52%;
    left: 50%;
    transform: translate(-63%, 20%);
    width: 30%;

}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: hsl(0, 0%, 23%);
    top: 54.5%;
    right: 27%;

    font-size:x-large;
}

.pokemon_name {
    color: hsl(0, 0%, 23%);
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    background-color: hsl(0, 0%, 18%);
    top: 65%;
    left: 14%
}

.input_search {
    width: 100%;
    padding: 6%;
    outline: none;
    font-size: larger;
    font-weight: 600;
    color: #ffffff;
    border: none;
    background-color: hwb(0 13% 87%);
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}


.buttons {
    position: absolute;
    bottom: 10%;
    left: 51%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #dbdbdb;
    background-color: #242424;

    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    background-color: hwb(0 8% 92%);
    color: hsl(0, 0%, 85%);
    font-size: 0.95rem;
}

.loading_image {
    position: absolute;
    top: 42%;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30px;
    height: 30px;
}

.pokemon_image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    z-index: 0;
}
.missingno{
    position: absolute;
    top: 42%;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1%;
}
